extends layout

block header
  include templates/header.jade

block content
  .container
    .row
      .col-sm-8(style="float: none; margin: 4em auto; text-align: center;")
        img.img-responsive.text-center(src='../img/Sarah Bio 02.23.15_2.jpg' style="text-align: center; max-width: 300px; display: inline-block;")
        h3.post-title Sarah Magness 
        div(style="text-align: center;")
          p Based in Manhattan, Sarah has been exposed to multiple new cultures and capital cities. She is recognized by House Beautiful Magazine as one of the next top ten young American designers. Her work experience ranges from high-end Manhattan and Hampton residences to Mondrian Hotels in Scottsdale, Los Angeles, New York, and a gold certified LEED office building in Oregon. She has learned to appreciate diversity and its influence on architecture and design. Client projects draw upon her architectural and landscape background, interior design training, strong project management, extensive resource knowledge and global exposure all combining for an innovative design solution.
          p While living in Japan, Sarah traveled throughout Asia and Europe, studying a broad range of modern and historical architecture. She discovered how the fusion of eclectic styles and materials can result in a design solution for the client. Her global travels also influenced her passion for furniture, lighting and rug design.
          p Sarah received her undergraduate degree in Architecture from the University of Texas at Austin and her graduate degree in Interior Design from Pratt Institute.
          p Magness Design began in 2010, with a focus on residential design. After working within the industry for ten years, Sarah created a design company that would cater to the individual needs of each client and be actively involved for the entire design process from schematics to post- construction. Every client is different and her approach to each unique project is to guide them through the process with her design experience but to make their house their home, with their personal aesthetic. “I have a great sense of pride to know I have fulfilled my client’s dreams for their homes.”
    .row
      .col-sm-8(style="float: none; margin: 4em auto; text-align: center;")
        img.img-responsive.text-center(src='../img/HBCover.jpg' style="text-align: center; max-width: 300px; display: inline-block;")
        h3.post-title House Beautiful 
        div(style="text-align: center;")
          p 
          | Next Wave
          br 
          | In Design
    .row
      .col-sm-8(style="float: none; margin: 4em auto; text-align: center;")
        img.img-responsive.text-center(src='../img/deep-end-full.jpg' style="text-align: center; max-width: 300px; display: inline-block;")
        h3.post-title Rug Collection
        div(style="text-align: center;")
          p 
          | Rug Collection
          br 
          | With Sacco Carpet
