extends layout

block header
	include templates/header.jade

//- running Backstretch

block content
	.container.hero
		.heroBox
			h1.heroCopy__hero__37Lvf.topBar
				| Now Playing
				br
				| The Townhouse
			.heroSubtext__hero__3JonU
				span Silver Lining Interiors | Magness Design | Build Pictures

	.container.follower
		.row
			article.col-md-12.col-lg-6.promo
				iframe(src='https://player.vimeo.com/video/173256332?color=e3a41b&title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

						p
							a(href='https://vimeo.com/173256332') Townhouse
							|  from
							a(href='https://vimeo.com/buildpictures') Build Pictures
							|  on
							a(href='https://vimeo.com') Vimeo
							| .
				p.videoCaption The Townhouse captures the vision and collaborative efforts of Architect, Builder, Client and Designer.
			article.col-md-6
				h2.title What People Are Saying...
				.separator-container
					.separator.line-separator
					| ∎
					div.col-sm-offset-1.col-sm-10
						h3.quotes An Elegant New York Townhouse Is Reborn Designer Sarah Magness spearheads an extensive home renovation for the ages
						p Architectural Digest

						img.mobilisima.visible-xs(src='../img/scr_grab_autogen.webp')

						a.btn-primary_styles(href='https://vimeo.com/173256332', target='_blank') Visit The Property

						include templates/footer.jade

