extends layout

block header
  include templates/header.jade

//- running Backstretch

block content
  .container.hero
    .heroBox
      h1.heroCopy__hero__37Lvf.topBar
        | Now Playing
        br
        | The Townhouse
      .heroSubtext__hero__3JonU
        span Silver Lining Interiors | Magness Design | Build Pictures

  .container.follower
    .row
      article.col-md-12.col-lg-6.promo
        iframe(src='https://player.vimeo.com/video/173256332?color=e3a41b&title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

          p
            a(href='https://vimeo.com/173256332') Townhouse
            |  from
            a(href='https://vimeo.com/buildpictures') Build Pictures
            |  on
            a(href='https://vimeo.com') Vimeo
            | .
        p.videoCaption The Townhouse captures the vision and collaborative efforts of Architect, Builder, Client and Designer.

        a.btn-primary_styles(href='/portfolio/560429c0560d188306e0e0ea') Visit The Property


      article.col-md-6
        h2.title What People Are Saying...
        .separator-container
          .separator.line-separator
          | ∎
          div.col-sm-offset-1.col-sm-10
            h3.quotes An Elegant New York Townhouse Is Reborn Designer Sarah Magness spearheads an extensive home renovation for the ages
            p Architectural Digest

            img.mobilisima(src='../img/IMG_1630_2x.jpg')



block footer
  include templates/footer.jade

