extends layout

block header
	include templates/header.jade

//- running Backstretch

block content
	.container.hero
		.heroBox
			h1.heroCopy__hero__37Lvf.topBar Now Playing The Townhouse
			.heroSubtext__hero__3JonU
				span Build Pictures | Magness Design

	.container.follower
		.row
			article.col-sm-6
				div(style="text-align: center;")
					iframe(src='https://player.vimeo.com/video/173256332?color=e3a41b&title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
						p
							a(href='https://vimeo.com/173256332') Townhouse
							|  from
							a(href='https://vimeo.com/buildpictures') Build Pictures
							|  on
							a(href='https://vimeo.com') Vimeo
							| .
				p Lorem ipsum Cupidatat Excepteur labore sunt dolor Excepteur pariatur qui pariatur Duis occaecat sint sed aliquip voluptate ad consectetur nisi pariatur ut et irure voluptate cillum Ut deserunt nulla qui dolore magna.
			article.col-sm-6
				h2.title What People Are Saying...
				.separator-container
					.separator.line-separator
					| ∎
					div.col-sm-offset-1.col-sm-10
						h3.quotes An Elegant New York Townhouse Is Reborn Designer Sarah Magness spearheads an extensive home renovation for the ages
						p Architectural Digest
						button.btn.btn-primary Visit The Property
