/* bower:scss */
@import url(../components/bootstrap/dist/css/bootstrap.min.css);
/* endbower */
@import url(https://fonts.googleapis.com/css?family=Cinzel);
html, body, .container {
  height: inherit !important; }

body {
  margin-top: 10em;
  color: #888888;
  font-size: 11px;
  font-family: 'Cinzel', Fallback, sans-serif, Times;
  /* for in developement properties */
  /* todo tweek homepage only backstretch
  .backstretch {
      top: 100px !important;
  }
*/ }
  body.xgrey {
    background: #eeeeee; }
  body a {
    color: black; }
    body a:hover {
      color: gray;
      text-decoration: none; }
  body .noclick {
    pointer-events: none;
    cursor: default !important; }
    body .noclick a .overlay {
      opacity: 1; }
  body .clearfix {
    clear: both; }

.navbar.navbar-default {
  background: none;
  border: none; }

ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0; }

header {
  background-color: #fff;
  padding: 1em 7.5%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100; }
  header img {
    -ms-transform: scale(0.7, 0.7);
    /* IE 9 */
    -webkit-transform: scale(0.7, 0.7);
    /* Safari */
    transform: scale(0.7, 0.7); }

/* for homepage */
article.promo {
  display: block; }

@media (max-width: 400px) {
  iframe {
    margin: 0 auto;
    float: none;
    width: 22em;
    height: 12em; } }
@media (min-width: 401px) {
  iframe {
    margin: 0 auto;
    float: none;
    width: 33em;
    height: 19em; } }
@media (min-width: 735px) {
  iframe {
    margin: 0 auto;
    display: block;
    float: none;
    width: 40em;
    height: 25em; } }
/* fix article div height for homepage */
.container.hero article, .container.follower article {
  height: initial; }

/* for portfolio page */
article {
  height: 350px; }
  article p.videoCaption {
    margin: 1em auto 5em auto;
    font-size: 1.4em;
    text-align: center;
    max-width: 455px; }
  article a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0; }
    article a:hover {
      color: #2e3138; }
      article a:hover .overlay {
        opacity: 1; }
    article a .overlay {
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 0;
      top: 0;
      display: table;
      width: 100%;
      height: 100%;
      z-index: 5;
      text-align: center;
      opacity: 0; }
      article a .overlay .header.hover-title {
        background: none;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        position: relative; }
        article a .overlay .header.hover-title h2 {
          color: #fff;
          padding: 0 0;
          font-weight: normal !important;
          /*              font-family: 'Omnes-webfont', Fallback, sans-serif !important; */
          font-family: 'Cinzel', Fallback, sans-serif, Times;
          margin-bottom: 0;
          text-transform: uppercase;
          line-height: 1;
          font-size: 1.5em;
          font-variant: normal;
          font-weight: normal; }

.archive article.project a .overlay h2, .home article.project a .overlay h2 {
  font-size: 1.48688em;
  font-weight: normal !important;
  margin-bottom: 0;
  font-style: italic;
  text-transform: none;
  line-height: 1;
  padding: 1em 0; }

/* regular hovering http://stackoverflow.com/questions/28941626/darken-image-on-hover */
.post_first {
  cursor: pointer;
  overflow: auto;
  clear: both;
  /*
    height: 649px;
    background: url(../images/old_field_1.jpg) no-repeat center center;
    background-size: cover;
    */
  position: relative; }

.post_first:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  content: "";
  z-index: 999; }

.post_first:hover:before {
  cursor: pointer;
  opacity: 1; }

.col-sm-5 img.img-responsive:hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer; }

.smservices-popin-column ul li span.ccservices-countries, .smservices-popin-column ul li a, .smservices-popin-column .nav > li > a {
  color: #888888;
  font-size: 11px !important;
  text-transform: uppercase; }

h2 {
  font-family: 'Cinzel', serif;
  margin-top: 0; }

@font-face {
  font-family: 'Omnes-webfont';
  src: url("../fonts/omnes-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/omnes-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/omnes-webfont.woff2") format("woff2"), url("../fonts/omnes-webfont.woff") format("woff"), url("../fonts/omnes-webfont.ttf") format("truetype"), url("../fonts/omnes-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
.container {
  max-width: none; }
  .container.follower {
    padding-top: 5rem; }

.heroBox {
  border: 0.5rem solid #eee;
  color: #eee;
  text-align: center;
  padding: 3.75rem;
  width: 530px;
  margin: 0 auto; }

.separator-container .separator.line-separator:before {
  float: left; }

.separator-container .separator.line-separator:after {
  float: right; }

.separator-container .separator.line-separator:before, .separator-container .separator.line-separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 14px;
  border: 1px solid #c5a47e; }

.separator-container {
  -webkit-transition: all 0.7s ease-out 0.5s;
  -moz-transition: all 0.7s ease-out 0.5s;
  -o-transition: all 0.7s ease-out 0.5s;
  -ms-transition: all 0.7s ease-out 0.5s;
  transition: all 0.7s ease-out 0.5s;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  font-size: 140%;
  text-align: center;
  position: relative; }
  .separator-container .separator {
    color: #c5a47e;
    margin: 0 auto 1em;
    width: 11em; }

article p {
  font-family: Cinzel, serif; }

.quotes:before {
  content: "\201C";
  left: 0; }

.quotes:after {
  content: "\201D";
  right: 0; }

.quotes:before, .quotes:after {
  position: absolute;
  font-size: 50px;
  font-family: sans-serif;
  color: #777;
  line-height: 1; }

h2.title {
  max-width: 760px;
  margin: .8em auto 0 auto;
  text-align: center;
  display: block; }

.btn-primary_styles {
  border-radius: 0px;
  font-family: "Cinzel", serif, Fallback, sans-serif;
  border-width: 2px;
  padding: .75rem 1.125rem .625rem;
  text-decoration: none;
  color: #282829;
  background-color: rgba(40, 40, 41, 0);
  border-color: #282829;
  box-shadow: 0 0 0 rgba(40, 40, 41, 0);
  display: block;
  float: left;
  margin: 100px auto 0 auto;
  width: 100%;
  cursor: pointer;
  border-style: solid;
  text-decoration: none;
  text-align: center;
  transition: border-color 0.15s cubic-bezier(0.694, 0.0482, 0.335, 1), background-color 0.15s cubic-bezier(0.694, 0.0482, 0.335, 1), color 0.15s cubic-bezier(0.694, 0.0482, 0.335, 1), box-shadow 0.15s cubic-bezier(0.694, 0.0482, 0.335, 1); }
  .btn-primary_styles:hover, .btn-primary_styles:focus {
    border-color: #282829;
    background-color: #282829;
    text-decoration: none;
    color: #fffef2 !important; }
  .btn-primary_styles:visited {
    color: #282829; }

h3 {
  color: #444444;
  font-family: 'Cinzel', serif, Fallback, sans-serif; }
  h3.post-title {
    text-align: center; }

button.navbar-toggle span {
  color: black;
  display: block; }
  button.navbar-toggle span:after {
    content: "";
    background: url("../../img/up_down.png");
    background-position: 0px -20px;
    margin-left: 5px;
    display: inline-block;
    zoom: 1;
    width: 10px;
    height: 15px; }
button.navbar-toggle.collapsed span {
  display: block; }
  button.navbar-toggle.collapsed span:after {
    background-position: 0px 0px; }

.navbarLogo {
  width: 70%;
  margin: 0 auto;
  position: relative; }
  .navbarLogo a {
    display: block;
    width: 100px;
    margin: auto;
    height: 50px;
    text-indent: -9999px;
    background-image: url(../img/logo2x.png);
    background-size: cover; }

nav .container-fluid .navbar-header {
  margin: 0; }

.navbar {
  position: absolute;
  top: 4em;
  left: 0;
  width: 100%;
  background: white !important;
  font-family: Cinzel, serif;
  min-height: 0px;
  margin-bottom: 0px; }

.navbar-collapse {
  box-shadow: none !important; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none; }

.navbar-header {
  float: none; }

.navbar-toggle {
  float: left;
  display: block; }

.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

.navbar-nav {
  margin: 7.5px -15px; }

.navbar-toggle {
  width: 145px;
  border-radius: 1px; }

#navbar.navbar-collapse.collapse.in {
  display: block !important; }

#navbar.navbar-collapse.collapse {
  display: none !important; }

.navbar-nav > li {
  float: none; }

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px; }

html, body, .container {
  height: 100%; }

.container .col-md-8 p.opening-paragraph.livingroom {
  display: none !important; }
.container .col-md-8 p.opening-paragraph {
  margin: 0 auto;
  padding: 0 0 3em 0; }

.container {
  display: table;
  width: 100%;
  padding-top: 50px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .container.noPad {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0; }
  .container .col-md-8.portfolio div {
    margin-bottom: 1em; }
  .container ul.product-holder, .container ul.press-holder {
    list-style: none;
    text-align: center;
    margin-bottom: 3em;
    padding-left: 0; }
    .container ul.product-holder li h3, .container ul.press-holder li h3 {
      margin-bottom: 2em; }

.secret {
  display: none; }

.row {
  height: 100%;
  display: table-row; }

.col-md-3.no-float, .col-md-9.no-float {
  float: none;
  /* thanks baxabbit */ }

.col-md-2 {
  display: table-cell;
  top: 70px; }

.col-md-9 {
  display: table-cell;
  width: 75%; }

.navbar-header.Products {
  /*  display: none; */ }

footer {
  clear: both;
  padding: 4em 7.5% 0;
  text-align: center; }
  footer p {
    font-family: Cinzel, serif; }

/* tricks */
.navbar-fixed-top + .content-container {
  margin-top: 70px; }

.content-container {
  margin: 0 130px; }

#top-link-block.affix-top {
  position: absolute;
  /* allows it to "slide" up into view */
  bottom: -82px;
  /* negative of the offset - height of link element */ }

#top-link-block:after {
  content: "back to top";
  background: url("../../img/up_down.png") no-repeat;
  background-position: right -20px;
  display: inline-block;
  zoom: 1;
  width: 100%;
  z-index: 10;
  height: 15px; }

#top-link-block.affix {
  cursor: pointer;
  position: fixed;
  /* keeps it on the bottom once in view */
  bottom: 0;
  /* distance from bottom */
  width: 100%;
  height: 5em;
  transition: background-color 2s ease-in;
  background-color: white;
  float: left; }

#scrollUp {
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #555;
  color: #fff; }

section#instagram {
  max-height: 560px;
  overflow: hidden; }
  section#instagram div {
    display: inline-block; }
  section#instagram #instafeed a:nth-child(5n+5), section#instagram #townContainer a:nth-child(5n+5) {
    /*	    border: 1px solid red;      */
    margin-right: 0px; }

.gram {
  margin-bottom: 10px;
  margin-right: 15px;
  float: left; }
  .gram img {
    width: 62px;
    max-width: 100px; }

.btn-social-icon {
  margin: 1px; }

.contact-hero {
  max-height: 499px;
  margin: 0 auto;
  margin-bottom: 53px; }

.social-holder {
  margin: 3.5em 1em 1em 0;
  display: inline-block;
  width: 100%; }

@media (max-width: 1199px) {
  iframe, article.col-md-6 {
    margin: 0 auto;
    display: block;
    float: none; } }
img.mobilisima {
  max-width: 320px;
  margin: 50px auto 0 auto;
  width: 100%; }

@media (max-width: 768px) {
  nav #navbar {
    padding-top: 35px; }
  nav.navbar-default {
    top: 0; }
  nav button.navbar-toggle {
    width: 55px; }
    nav button.navbar-toggle span {
      display: none !important; }
    nav button.navbar-toggle:after {
      content: 'menu'; }

  .heroBox {
    width: 100%; }
    .heroBox .h1, .heroBox h1 {
      font-size: 2.5rem; } }

/*# sourceMappingURL=app.css.map */
