$icon-font-path: "../components/bootstrap/fonts";

/* bower:scss */
@import "../components/bootstrap/dist/css/bootstrap.min.css";
/* endbower */

html, body, .container {
    height: inherit !important;
}

body { 
  &.xgrey {
    background: #eeeeee;
  }
  padding: 50px 0 0 0; 
  margin-top: 10em; 
  color: #888888; 
  font-size: 11px;
  font-family: 'Cinzel', Fallback, sans-serif, Times;
  /* for in developement properties */
  /* todo tweek homepage only backstretch
  .backstretch {
      top: 100px !important;
  }
*/
  a {
      color: black;
      &:hover {
	  color: gray;
	  text-decoration: none;
      }
  }
  .noclick {
    pointer-events: none;
    cursor: default !important;
    a {
      .overlay {
        opacity:1;
      }
   }
 }
 .clearfix {
   clear: both;
 }
}

// main { margin: 150px 0 0 0; }


.navbar.navbar-default { background: none; border: none; }

ul {
   list-style: none;
-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0;
-webkit-margin-end: 0px;
-webkit-padding-start: 0;
}

header {
  background-color: #fff;
  padding: 1em 7.5%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  img {
    -ms-transform: scale(0.7,0.7); /* IE 9 */
    -webkit-transform: scale(0.7,0.7); /* Safari */
    transform: scale(0.7,0.7);
  }
}

/* for portfolio page */
article {
    height: 350px;
    a {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 0 0 0;
      &:hover {
        color:#2e3138;
          .overlay {
            opacity:1;
          }
        }
        .overlay {
          background-color: rgba(0,0,0,0.4);
          position: absolute;
          left: 0;
          top: 0;
          display: table;
          width: 100%;
          height: 100%;
          z-index: 5;
          text-align: center;
          opacity: 0;
          .header.hover-title {
            background: none;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            position: relative;
            h2 {
              color: #fff;
              padding: 0 0;
              font-weight: normal !important;
/*              font-family: 'Omnes-webfont', Fallback, sans-serif !important; */
	      font-family: 'Cinzel', Fallback, sans-serif, Times;
              margin-bottom: 0;
              text-transform: uppercase;
              line-height: 1;
              font-size: 1.5em;
              font-variant: normal;
              font-weight: normal;
            }
          }
        }
      }

    }
.archive article.project a .overlay h2, .home article.project a .overlay h2 {
    font-size: 1.48688em;
    font-weight: normal !important;
    margin-bottom: 0;
    font-style: italic;
    text-transform: none;
    line-height: 1;
    padding: 1em 0
}

/* regular hovering http://stackoverflow.com/questions/28941626/darken-image-on-hover */
.post_first {
  cursor: pointer;
  overflow: auto;
  clear: both;
/*
  height: 649px;
  background: url(../images/old_field_1.jpg) no-repeat center center;
  background-size: cover;
  */
  position: relative;
}
.post_first:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: rgba(0, 0, 0, .5);
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  content: "";
  z-index: 999;
}
.post_first:hover:before {
  cursor: pointer;
  opacity: 1;
}

.col-sm-5 img.img-responsive:hover { background: rgba(0, 0, 0, 0.4); cursor: pointer; }
.smservices-popin-column {
ul li span.ccservices-countries, ul li a, .nav > li > a,
	{ color: #888888; font-size: 11px !important; text-transform: uppercase } 
}

@import url(https://fonts.googleapis.com/css?family=Cinzel);
h2 {
  font-family: 'Cinzel', serif;
  margin-top: 0;
}

@font-face {
  font-family: 'Omnes-webfont';
  src: url('../fonts/omnes-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/omnes-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/omnes-webfont.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/omnes-webfont.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/omnes-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/omnes-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.container { max-width: none; }

h3 {
  color: #444444;
  font-family: 'Cinzel', serif, Fallback, sans-serif;
  &.post-title {
    text-align: center;
  }
}

button.navbar-toggle {
    span {
        color: black;

    display: block;
        &:after {
        content: ""; 
        background: url('../../img/up_down.png');
        background-position: 0px -20px; 
        margin-left: 5px;
        display: inline-block;
        zoom: 1;
        width: 10px;
        height: 15px;
        }
    }
        &.collapsed {
            span {
                display: block;
                &:after {
                    background-position: 0px 0px; 
                }
    }
    }
}
.navbar {
    font-family: Cinzel, serif;
    min-height: 0px;
    margin-bottom: 0px;
}
.navbar-collapse {
  box-shadow: none !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
.navbar-header {
  float: none;
}
.navbar-toggle {
  float: left;
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-toggle {
  width: 145px;
  border-radius: 1px;
}

#navbar.navbar-collapse.collapse.in {
    display: block !important;
}
#navbar.navbar-collapse.collapse{ display: none !important; }
.navbar-nav>li {
  float: none;
}
.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}

html,body,.container
{
    height:100%;
}


.container {
    .col-md-8 {
	p.opening-paragraph.livingroom {
	    display: none !important;
	}

	p.opening-paragraph {
	    margin: 0 auto;
	    padding: 0 0 3em 0;
	}
    }
}

.container {
      display:table;
      width: 100%;
      padding-top: 50px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      &.noPad {
	  padding-left: 0;
	  padding-right: 0;
      }
      .col-md-8.portfolio div { margin-bottom: 1em; }
  ul.product-holder, ul.press-holder {
    list-style: none;
    text-align: center;
    margin-bottom: 3em;
    padding-left: 0;
    li{
      h3 {
        margin-bottom: 2em;
      }
    }
  }
}

.secret {
  display: none;
}

.row
{
    height: 100%;
    display: table-row;
}
.col-md-3.no-float, .col-md-9.no-float {
    float: none; /* thanks baxabbit */
}
.col-md-2
{
    display: table-cell;
    // width: 25%;
    top: 70px;
}
.col-md-9
{
    display: table-cell;
    width: 75%;
}

.navbar-header.Products {
/*  display: none; */
}

footer {
  clear: both;
  display: none;
}

/* tricks */
.navbar-fixed-top + .content-container {
	margin-top: 70px;
}
.content-container {
	margin: 0 130px;
}



#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px; /* negative of the offset - height of link element */
}
#top-link-block {
    &:after{
	content: "back to top"; 
	background: url('../../img/up_down.png') no-repeat;
	background-position: right -20px; 
	display: inline-block;
	zoom: 1;
	width: 100%;
	z-index: 10;
	height: 15px;
    }
}
#top-link-block.affix {
    cursor: pointer;
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 0; /* distance from bottom */
    width: 100%;
    height: 5em;
    transition: background-color 2s ease-in;
    background-color: white;
    float: left;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
}
section#instagram {
    max-height: 560px;
    overflow: hidden;
    div {
      display: inline-block;
    }
    #instafeed, #townContainer {
	a:nth-child(5n+5) {
/*	    border: 1px solid red;      */
	    margin-right: 0px;
	}
}
}
.gram {
    margin-bottom: 10px;
    margin-right: 15px;
    float: left;
    img{
	width: 62px;
	max-width: 100px;
    }
}


.btn-social-icon {
  margin: 1px;
}

.contact-hero {
  max-height: 499px; margin: 0 auto; margin-bottom: 53px;
}

.social-holder {
  margin: 3.5em 1em 1em 0; 
  display: inline-block; 
  width: 100%;
}

