extends ../layout

block content
	h1.
		#{title}
	form#formAddPress(name="addpress",method="post",action="/press")
		p Name: 
			input#inputName(type="text", placeholder="ex. John Smith", name="name")
		p Badge:
			input#inputBadge(type="number", placeholder="ex. 123456", name="badge")
		p Created: 
			input#inputCreated(type="date", name="created")
		p Thumbnail Path:
			input#inputThumbnail(type="text", placeholder="ex. John Smith", name="thumbnail")
		p Images Path:
			input#inputImages(type="text", placeholder="ex. John Smith", name="images")
		p
			button#btnSubmit(type="submit") submit